.user-container {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 42px;
    img,
    .missing-pfp {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
    .username {
        font-size: 16px;
        font-weight: 400;
        font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-left: 10px;
    }
}

.message-line {
    margin-left: 80px;
    margin-right: 10px;
    color: #dcddde;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.attachment {
    margin-top: 10px;
    img {
        max-width: 500px;
        max-height: 300px;
    }
}

.message-line {
    font-size: 1rem;
    line-height: 1.375;
    white-space: pre-wrap;
    span {
        font-size: 1rem;
        line-height: 1.375;
        width: auto;
        height: auto;
    }
    code {
        background-color: #2f3136;
        width: auto;
        height: auto;
        padding: 0.2em;
        margin: -0.2em 0;
        border-radius: 3px;
        font-size: 85%;
        font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier,
            monospace;
        text-indent: 0;
        border: none;
    }
    .big-code {
        font-size: 0.875rem;
        line-height: 1rem;
        background-color: #2f3136;
        font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier,
            monospace;
        display: block;
        word-wrap: break-word;
        padding: 0.5em;
        border-radius: 4px;
        color: #b9bbbe;
        margin: 0;
        border: 1px solid #202225;
    }
    .spoiler {
        opacity: 1;
        transition: all 0.1s ease;
        background-color: hsla(0, 0%, 100%, 0.1);
        padding: 0.15em 0;
        border-radius: 3px;
    }
    .spoiler.hidden {
        user-select: none;
        cursor: pointer;
        color: transparent;
        background-color: #202225;
    }
}
