$top-bar-height: 50px;

.user-container {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 42px;
    img,
    .missing-pfp {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
    .username {
        font-size: 16px;
        font-weight: 400;
        font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-left: 10px;
    }
}

.message-line {
    margin-left: 80px;
    margin-right: 20px;
    color: #dcddde;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.attachment {
    margin-top: 10px;
    img {
        max-width: 500px;
        max-height: 300px;
    }
}

.message-line {
    font-size: 1rem;
    line-height: 1.375;
    white-space: pre-wrap;
    span {
        font-size: 1rem;
        line-height: 1.375;
        width: auto;
        height: auto;
    }
    code {
        background-color: #2f3136;
        width: auto;
        height: auto;
        padding: 0.2em;
        margin: -0.2em 0;
        border-radius: 3px;
        font-size: 85%;
        font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier,
            monospace;
        text-indent: 0;
        border: none;
    }
    .big-code {
        font-size: 0.875rem;
        line-height: 1rem;
        background-color: #2f3136;
        font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier,
            monospace;
        display: block;
        word-wrap: break-word;
        padding: 0.5em;
        border-radius: 4px;
        color: #b9bbbe;
        margin: 0;
        border: 1px solid #202225;
    }
    .spoiler {
        opacity: 1;
        transition: all 0.1s ease;
        background-color: hsla(0, 0%, 100%, 0.1);
        padding: 0.15em 0;
        border-radius: 3px;
    }
    .spoiler.hidden {
        user-select: none;
        cursor: pointer;
        color: transparent;
        background-color: #202225;
    }
}

.channel-title {
    display: flex;
    align-items: center;
    .channel-hashtag {
        margin: 0 8px;
        height: auto;
    }
    .channel-name {
        font-size: 16px;
        font-weight: 600;
        margin-left: 0px;
        color: #fff;
        display: flex;
        align-items: center;
        flex: 1 1 0;
    }
}

.hashtag {
    color: #72767d;
}

.top-bar {
    height: $top-bar-height;
    box-shadow: 0 0 2px black;
    display: flex;
    align-items: center;
    padding-left: 8px;

    .people-icon {
        height: $top-bar-height;
        width: $top-bar-height;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            width: 28px;
            height: 28px;
            color: #b9bbbe;
        }
    }
    .people-icon.selected .icon{
        color: #fff;
    }
}

.flex-space{
    flex: 1 1;
    width: 100%;
    height: 100%;
}